# Virtual Environment
env/
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Streamlit cache
.streamlit/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Alembic cache
alembic/versions/__pycache__/

# Logs
*.log